<h2>Name: <%= @product.name %></a></h2>

<% if @product.discounted? %>
  <h4>Discount Item!</h4>
<% else %>
  <h4>Everday Value!</h4>
<% end %>

<p class="<%= "red-price" if @product.discounted? %>">Price: <%= number_to_currency(@product.price)%></p>
<p>Stock: <%= @product.stock %></p>
<p>Tax: <%= number_to_currency(@product.tax)%></p>
<p>Total: <%= number_to_currency(@product.total)%></p>

<% @product.images.each do |image| %>
  <center><img src="<%= image.url %>" alt="<%= @product.name %>" class="img-responsive"></center><br>
<% end %>

<h4>Description: <%= @product.description %></h4>

<h4>Categories:</h4>
<ul>
  <% @product.categories.each do |category| %>
    <p><%= category.name %></p>
  <% end %>
</ul>

<%= link_to "Edit Animal", "/products/#{ @product.id }/edit", class: "btn btn-warning" %>
<%= link_to "Delete Animal", "/products/#{ @product.id }", method: :delete, class: "btn btn-danger" %>

<%= form_tag '/orders', method: :post do %>
  <h4>Quantity: <input type="string" name="quantity"></h4><br>
  <h4><input type="hidden" name="product_id" value= "<%= @product.id %>"></h4><br>
  <button class="btn btn-success" type="submit" class="btn btn-default">Buy Now!</button>
<% end %>


<h6>Supplier: <%= @product.supplier.name %></h6>